<h1> Tic Tac Toe </h1>

<div class= "index">
  <table>
    <tr>
      <th>Go To Game</th>
      <th>Player 1</th>
      <th>Player 2</th>
      <th>Turn</th>
      <th>Winner</th>
      <th>Remove</th>
    </tr> 
  <% @tic_tac_toes.each do |tic_tac_toe|%>
    <tr>
      <td><%= link_to tic_tac_toe.id, tic_tac_toe_path(tic_tac_toe) %></td>
      <td><%= tic_tac_toe.player1.name %></td>
      <td><%= tic_tac_toe.player2.name %></td>
      <td>
        <% if tic_tac_toe.game_is_finished? %>
          <p>Game done</p>
        <% else %>
          <%= tic_tac_toe.whose_turn?.name %>
        <% end %>
      </td>
      <td>
        <% if tic_tac_toe.winning_game? %>
          <%= tic_tac_toe.winning_player.name %>
        <% elsif tic_tac_toe.drawn_game? %>
          <p>Draw</p>
        <% else %>
          <p>Ongoing</p>
        <% end %>
      </td>
      <td><%= button_to 'Delete Game', tic_tac_toe_delete_path(tic_tac_toe) %></td>
    </tr>

  <% end %>
  </table>
</div>

<ul>
  <li><%= link_to "New Game" , new_tic_tac_toe_path %></li>
</ul>

