<meta http-equiv="refresh" content="30">

<div class= "index">

  <div id="startgame">
    <p><%= link_to image_tag("tictactoe_new.png"), new_tic_tac_toe_path %></p>
    <p><%= link_to 'Click for New Game', new_tic_tac_toe_path %></p>
  </div>

  <h1> Your Tic Tac Toe Games </h1>

  <% if @tic_tac_toes_current.any? %>
    <table>
      <tr>
        <th><em><strong>Go To Game</strong></em></th>
        <th>Player 1</th>
        <th>Player 2</th>
        <th>Turn</th>
        <th>Winner</th>
      </tr> 
    <% @tic_tac_toes.each do |tic_tac_toe|%>
      
      <tr>
        <td><%= link_to image_tag("tictactoe_new.png"), tic_tac_toe_path(tic_tac_toe) %></td>
        <td><%= tic_tac_toe.player1.try(:name) %></td>
        <td><%= tic_tac_toe.player2.try(:name) %></td>
        <td>
          <% if tic_tac_toe.game_is_finished? %>
            Game done
          <% else %>
            <%= tic_tac_toe.whose_turn?.name %>
          <% end %>
        </td>
        <td>
          <% if tic_tac_toe.winning_game? %>
            <%= tic_tac_toe.winning_player.try(:name) %>
          <% elsif tic_tac_toe.drawn_game? %>
            Draw
          <% else %>
            <span class="special">
              <strong>ONGOING</strong>
            </span>
          <% end %>
        </td>
      </tr>
        
    <% end %>

    </table>

    <ul>
      <li>
     </li>
    </ul>

    <div id="score">
      <table>
        <tr>
          <th>
            #Games
          </th>
          <th>
            Average
          </th>
          <th>
            Won
          </th>
          <th>
            Drawn
          </th>
          <th>
            Lost
          </th>
        </tr>
        <tr>
          <td>
            <%= @current_user.finished_tic_tac_toes.count %>
          </td>
          <td>
            <%= number_to_percentage ( @current_user.tictactoes_as_winning_player.count).to_f / (@current_user.tic_tac_toes.count).to_f %>
          </td>
          <td>
            <%= @current_user.tictactoes_as_winning_player.count %>
          </td>
          <td>
            <%= @current_user.finished_games_drawn.count %>
          </td>
          <td>
            <%= @current_user.finished_games_lost.count %>
          </td>
        </tr>

      </table>
    </div>

  <% end %>
</div>


