<h1> Games </h1>
<ul>
<% @tic_tac_toes.each do |tic_tac_toe|%>
   <li><%= link_to tic_tac_toe.id, tic_tac_toe_path(tic_tac_toe) %>
       <%= tic_tac_toe.player1.name %>
       <%= tic_tac_toe.player2.name %></li>
  <%= button_to 'Delete Game', tic_tac_toe_delete_path(tic_tac_toe) %>
  <% end %>

</ul>
<ul>
  <li><%= link_to "New Game" , new_tic_tac_toe_path %></li>
</ul>

