<h2>Game <%= @tictactoe.id %></h2>

<p>Player 1: <%= current_user.name %></p>
<p>Player 2: <%= @tictactoe.player2.name %></p>
<p>It's <%= @tictactoe.whose_turn?.name %>'s turn.</p>


<div class= "board">
  <table>
    <tr>
      <td><%= link_to @tictactoe.board[0] %> </td> 
      <td><%= link_to @tictactoe.board[1] %> </td>
      <td><%= link_to @tictactoe.board[2] %> </td>
    </tr>
    <tr>   
      <td><%= link_to @tictactoe.board[3] %> </td> 
      <td><%= link_to @tictactoe.board[4] %> </td> 
      <td><%= link_to @tictactoe.board[5] %> </td>
    <tr>  
      <td><%= link_to @tictactoe.board[6] %> </td> 
      <td><%= link_to @tictactoe.board[7] %> </td>
      <td><%= link_to @tictactoe.board[8] %> </td> 
    </tr>
  </table>
</div>
