<meta http-equiv="refresh" content="5">

<div id="show">

  <h2>Welcome to Game <%= @tic_tac_toe.id %></h2>

  <p>Player 1: <%= @tic_tac_toe.player1.name %></p>
  <p>Player 2: <%= @tic_tac_toe.player2.name %></p>
  <p>It's <em><strong><%= @tic_tac_toe.whose_turn?.name %></strong></em>'s turn.</p>

  <table>
    <% (0..8).each_slice(3) do |slice| %>
      <tr>
        <% slice.each do |square| %>
          <td><%= render partial: 'make_move_link', locals: {square: square} %> </td> 
        <% end %>
      </tr>
    <% end %>
  </table>

  <p><%= link_to 'Back', tic_tac_toes_path %></p>


</div>

