<h2>Game <%= @tic_tac_toe.id %></h2>

<p>Player 1: <%= current_user.name %></p>
<p>Player 2: <%= @tic_tac_toe.player2.name %></p>
<p>It's <%= @tic_tac_toe.whose_turn?.name %>'s turn.</p>


<div class= "board">
  <table>
    <% (0..8).each_slice(3) do |slice| %>
      <tr>
        <% slice.each do |square| %>
          <td><%= render partial: 'make_move_link', locals: {square: square} %> </td> 
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
