<div class="sign">

  <h1>Sign Up for </h1>
  <h2>We love gaming...</h2>
    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <p><%= f.label :name, 'Enter Username'%></p>
        <p><%= f.text_field :name %></p>
      </div>
      <div class="field">
        <p><%= f.label :email, 'Enter Email' %></p>
        <p><%= f.text_field :email %></p>
      </div>
      <div class="field">
        <p><%= f.label :password, 'Enter Password' %></p>
        <p><%= f.password_field :password %></p>
      </div>
      <div class="field">
        <p><%= f.label :password_confirmation, 'Confirm Password' %></p>
        <p><%= f.password_field :password_confirmation %></p>
      </div>
      <div class="actions"><%= f.submit %></div>
    <% end %>
</div>